<%= javascript_include_tag "concerto_weather/application" %>
<%= stylesheet_link_tag "concerto_weather/application" %>

<fieldset>
  <legend><span>Weather</span></legend>
  <div class="row-fluid">
    <div class='span4'>
    <%= form.fields_for :config do |config| %>
      <div class="clearfix">
        <%= config.label :location, "City" %>
        <div class="input">
          <%= config.text_field :location, placeholder: "Sydney", value: @content.config['location'] %>
        </div>
      </div>
      <div class="clearfix">
        <%= config.label :units %>
        <div class="input">
          <%= config.select :units, Weather::UNITS.map {|k,v| [v, k]}, :selected => @content.config['units'] %>
        </div>
      </div>
    </div>
    <% end %>
    <div>
      <div class='woeid-info span8'></div>
    </div>
  </div>
</fieldset>
