<%= javascript_include_tag "concerto_weather/application" %>
<%= stylesheet_link_tag "concerto_weather/application" %>

<fieldset>
  <legend><span>Weather</span></legend>
  <div class="row-fluid">
    <div class='span4'>
    <%= form.fields_for :config do |config| %>
      <div class="clearfix">
        <%= config.label :city_query, "City Search" %>
        <div class="input">
          <%= config.text_field :city_query, placeholder:"Name or Zipcode", value: @content.config['city_id'] %>
          <%= button_tag type: "button", :class => "btn", onclick: "searchForCityInfo()" do %>
            <i class="fa fa-refresh"></i>
          <% end %>
        </div>
      </div>
      <div class="clearfix">
        <%= config.label :units %>
        <div class="input">
          <%= config.select :units, Weather::UNITS.map {|k,v| [v, k]}, :selected => @content.config['units'] %>
        </div>
      </div>
      <div class="clearfix">
        <%= config.label :font_name %>
        <div class="input">
          <%= config.select :font_name, Weather::FONTS.map {|k,v| [v, k]}, :selected => @content.config['font_name'] %>
        </div>
      </div>
      <div class="clearfix">
        <%= config.label :format_string, "Format String" %>
        <div class="input">
          <%= config.text_area :format_string, placeholder:"Format String for the weather output", value: @content.config['format_string'], cols: 60, rows: 6 %>
        </div>
      </div>

      <%= config.hidden_field :lat %>
      <%= config.hidden_field :lng %>
    <% end %>
    </div>
    <div class="clearfix">
      <div class='city-info span8'></div>
    </div>
  </div>
</fieldset>
