<dl>
  <h1>Weather</h1>
  <dt>City</dt>
  <dd><%= content.config['location_name'] %></dd>
  <dt>Units</dt>
  <dd><%= Weather::UNITS[content.config['units']] %></dd>
  <dt>Icon Style</dt>
  <dd><%= Weather::FONTS[content.config['font_name']] %></dd>
  <dt>Forecast type</dt>
  <dd><%= Weather::FORECAST[content.config['forecast_type']] %></dd>
  <dt>Last Successful Update</dt>
  <dd><%= content.config.include?('last_ok_refresh') ? Time.at(content.config['last_ok_refresh']).strftime('%c') : 'Never' %></dd>
  <dt>Last Attempted Update</dt>
  <dd><%= content.config.include?('last_refresh_attempt') ? distance_of_time_in_words_to_now(Time.at(content.config['last_refresh_attempt'])).titleize + ' Ago' : 'Never' %></dd>
  <dt>Min. Refresh Interval</dt>
  <dd><%= distance_of_time_in_words(content.config['interval'].to_i) %></dd>
  <dt>Format String</dt>
  <div class="input">
  <textarea rows='6' readonly>
  <%= content.config['format_string'] %>
  </textarea>
  </div>
</dl>
